.photoInput {
  display: block;
  width: 80%;
  height: 180px;
  border: 1px dashed gray;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-inputs {
  width: 80%;
  margin: auto 0;
}

.addBtn {
  color: #f8fafc;
  background-color: var(--primary);
}

.addBtn:hover,
.addBtn:focus {
  border: 1px solid var(--primary);

  color: var(--primary);
  background-color: #f8fafc;
}

.photo-container {
  justify-self: center;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 8px;
}

@media screen and (min-width: 768px) {
  .create-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-top: 24px;
  }

  .addBtn {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 50%;
    justify-self: center;
    margin-top: 24px;
  }

  .field-inputs {
    width: 80%;
    justify-self: center;
  }

  .photoInput {
    height: 100%;
    grid-row: 1;
  }

  .header {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .create-form {
    margin-top: 40px;
  }

  .addBtn {
    margin-top: 40px;

    padding: 12px 18px;
    font-size: 16px;
  }

  .header {
    font-size: 32px;
  }
}
